#folders to ignore:...
build/
javadoc/
dist/
nbproject/private/
build-impl.xml
#patterns:
*.prp
*.lck
*.log
*.properties
#*
*#
*.swp
*.o
*.class
*~
*.html
*.svn
*.lic
*.req
*jar.orig
*log.orig
manifest.mf
*.orig
s_GeckoCIRCUITS.mex*
*.asv
/AdminTool/nbproject/private/
/TranslationAdminTool/nbproject/private/
/notInUse/TranslationAdminTool/nbproject/private/